<ion-content scroll-y="false">
  <div class="center-wrapper">
    <div class="login-card">
      <div class="ion-text-center ion-padding">
        <h1 class="main-title">Acesso</h1>
        <p class="main-subtitle">Monitore sua saúde cardíaca</p>
      </div>

      <div class="ion-padding-horizontal">
        <ion-item lines="none" class="visible-input">
          <ion-label position="stacked">E-mail</ion-label>
          <ion-input type="email" [(ngModel)]="email" placeholder="nome@email.com"></ion-input>
        </ion-item>

        <ion-item lines="none" class="visible-input">
          <ion-label position="stacked">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="senha" placeholder="Sua senha"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="login()" class="btn-primary">
          Entrar
        </ion-button>

        <ion-button expand="block" fill="clear" routerLink="/cadastro" class="btn-link">
          Ainda não tem conta? Cadastre-se
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>