<ion-content class="login-container">
  <div class="center-wrapper">
    <ion-card class="login-card">
      <div class="ion-text-center ion-padding-top">
        <ion-card-title>Monitoramento</ion-card-title>
        <ion-card-subtitle>Acesse sua conta</ion-card-subtitle>
      </div>

      <ion-card-content class="ion-no-padding ion-padding-top">
        <ion-item lines="none">
          <ion-input type="email" [(ngModel)]="email" placeholder="E-mail"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input type="password" [(ngModel)]="senha" placeholder="Senha"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="login()" class="action-button">
          Entrar
        </ion-button>

        <div class="divider">ou</div>

        <ion-button expand="block" fill="clear" routerLink="/cadastro" class="signup-button">
          Criar nova conta
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>