/* Variáveis Globais para Estética Padrão Moderna */
:root {
  --ion-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --ion-background-color: #fcfcfc;
  
  --app-title-color: #212529;
  --app-subtitle-color: #6c757d;
  --app-danger: #d90429;
  --app-warning: #fb8500;
  --app-success: #38b000;
  --app-graphite: #2b2d42;
  
  --app-card-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

/* Reset de fundo no login para evitar o cinza indesejado */
ion-content {
  --background: var(--ion-background-color);
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 16px;
}

/* Inputs Estilo Bootstrap/Moderno */
ion-item.visible-input {
  --background: #ffffff;
  --border-radius: 6px;
  border: 1px solid #dee2e6;
  margin-bottom: 12px;
  --padding-start: 12px;
  --highlight-height: 0;
  transition: border-color 0.2s;
  
  &.item-has-focus {
    border-color: var(--app-graphite);
  }

  ion-label {
    font-size: 0.85rem !important;
    font-weight: 700;
    color: #495057;
    margin-bottom: 6px;
  }
}
